.shoe-fz-12 {
    font-size: 12px;
}

.shoe-fz-14 {
    font-size: 14px;
}

.shoe-fz-16 {
    font-size: 16px;
}

.shoe-fz-20 {
    font-size: 20px;
}

.shoe-fz-24 {
    font-size: 24px;
}

.shoe-fz-28 {
    font-size: 28px;
}